     <div>
		 <br/><br/><br/><br/>
		 <div  class="container"  >
			 <div class="row"  >
				   <div  class="col-md-1 col-lg-1"   *ngIf="companies && !company"   >  </div>
				   <div  class="col-md-10 col-lg-10"  *ngIf="companies && !company"   >
						 <div   class="card"  >
							<div  class="card-body"  >
								<div>
									<div class="table-reponsive">
										<table class="table table-borderless">
										  <thead>
											 <tr>
											 <th>Symbol</th>
											 <th>Name</th>
											 <th>Exchange</th>
											 <th>Action</th>
											 </tr>
										  </thead>
										  <tbody>
											   <tr *ngFor="let c of companies"  >
													<td>{{c.symbol}}</td>
													<td>{{c.name}}</td>
													<td>{{c.exchange}}</td>
													<td>
														<button type="button"  class="btn btn-outline-info btn-sm"  (click)="fetch(c.symbol)" >
															 <i class="fa fa-check" ></i>
														</button>
													</td>
												</tr>
										  </tbody>
										</table>
									</div>
			                    </div>
							 </div>
						 </div>
				    </div>
					<div  class="col-md-1 col-lg-1"   *ngIf="companies && !company"  >  </div>
					
					<div  class="col-md-12 col-lg-12"  *ngIf="company" >	 
							  <div  class="float-right"   style="margin-left: 10px;"  >
								      <button type="button"  class="btn btn-outline-info btn-sm"  style="margin-right: 15px;"   (click)="back()" >
										 <i class="fa fa-step-backward" ></i>
									 </button>
						      </div>
							  <div class="card" >
								<div class="card-body">
										<h5 class="card-title float-left" style="margin-right: 6px;" >{{company.ticker}}</h5>
										<div class="row" >
										   <div class="col-md-4" >
												<div class="float-left" >
													<p class="card-text">Name : {{company.name}}</p>
													<p class="card-text">Exchange : {{company.exchange}}</p>
													<p class="card-text">Volume : {{company.volume}}  $</p>
													<p class="card-text">1 Day Flow :   <span   [ngClass]="company.day1Flow > 0 ? 'grennvl' : 'redvl'"  > {{(company.day1Flow < 0) ? '-' : ''}}  {{company.day1Flow}} </span> $</p>
												</div>
										  </div>
										  <div class="col-md-8" > 
										       <div  className="card-body"  >  
											         <app-transaction  [price]=company.day1Flow   [symbol]=company.symbol   ></app-transaction> 
											   </div>
										  </div>
									  </div>
									</div>
							   </div>

			</div>
		  </div>
	</div>